# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/

# UV
uv.lock

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# App venvs (each app manages its own)
qhub/apps/*/.venv/


install-qhub-plugin.ps1