{
    "name": "{{app_name}}",
    "id": "{{app_id}}",
    "version": "0.1.0",
    "author": "{{author}}",
    "description": "{{description}}",
    "icon_path": "",
    "entry_point": "main.py",
    "class_name": "{{class_name}}",
    "tags": []
}
