[project]
name = "{{app_id}}"
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[dependencies]
python = ">=3.10,<3.13"

[pypi-dependencies]
# Add your app's PyPI dependencies here.